<%- layout("./layouts/boilerplate") %>
<script>
    const mapToken="<%= process.env.MAP_TOKEN %>";
    const listing=<%- JSON.stringify(listing) %>;
</script>
<body>
    <div class="row">
        <div class="col-8 offset-3 mt-3 mb-3">
            <h1><%= listing.title %></h1>
        </div>

        <div class="card col-8 offset-2 listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top show-img mb-3" alt="Listing image">
            <div class="card-body">
                <p class="card-text">
                    <i><%= listing.owner.username %></i>
                </p>
                <p class="card-text">
                    <%= listing.description %>
                </p>
                <p class="card-text">
                    &#8377;<%= listing.price.toLocaleString("en-IN")%>
                </p>
                <p class="card-text">
                    <%= listing.location %>
                </p>
                <p class="card-text"></p> 
                    <%= listing.country %>
                </p>
            </div>
        </div>
    </div>

    <div class="col-8 offset-2 butns">
        <% if(currUser &&currUser._id.equals(listing.owner._id)) { %>
        <a class="btn btn-dark mb-3" href="/listings/<%= listing._id %>/edit">Edit</a>
        <br>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-danger mb-3">Delete</button>
        </form>
        <% } %>
    </div>
    
    <% if(currUser) { %>
    <div class="col-8 offset-2">
        <hr>
        <h4 class="mb-3">Leave comment</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <fieldset class="starability-slot">
                    <legend>Rating:</legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>

            <div class="mb-3">
                <label for="comments" class="form-label">Comment</label>
                <textarea name="review[comment]" id="comment" cols="80" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">please add comments</div>
            </div>
            <br>
            <div class="mb-3">
                <button class="btn btn-outline-primary">submit</button>
            </div>
        </form>
    </div>
    <% } %>

    <div class="row">
        <hr>
        <h4>All Review</h4>
        <% for(review of listing.reviews){%>
            <div class="card col-5 mt-3 ms-3 mb-3">
                <div class="card-body">
                    <h5 class="card-title mt-3"><%= review.author.username %></h5>
                    <p class="starability-result" data-rating="<%= review.rating %>"></p>
                    <p class="card-title"><%= review.comment %></p>
                </div>
                
                <% if(currUser&& currUser._id.equals(review.author._id)) { %>
                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post" class="mb-3"> 
                    <button class="btn btn-sm btn-dark">delete</button>
                </form>
                <% } %>
            </div>
        <% }%>
    </div>
    <hr>
    <div class="col-8 offset-2 mt-3 mb-3">
        <h3>where you'll be</h3>
        <div id="map">

         </div>
    </div>
    <script src="/js/map.js"></script> 
</body>